<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.READ_CLIPBOARD_IN_BACKGROUND"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="smsto" />
        </intent>
    </queries>

    <application
        android:name=".MaterialCodeToolApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialCodeTool"
        tools:targetApi="31">

        <activity
            android:name=".activities.notes.PreviewActivity"
            android:exported="false" />

        <activity
            android:name=".activities.tools.postdev.PostDevActivity"
            android:exported="false"
            android:label="@string/title_activity_post_dev"
            android:theme="@style/Theme.MaterialCodeTool.NoActionBar" />

        <service
            android:name=".services.MaterialClipBoardService"
            android:exported="false">
            <intent-filter>
                <action android:name="ly.android.material.code.tool.services.MaterialClipBoardService" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.tools.QuickShearingBoardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tools.ColorPickerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tools.ColorSchemeActivity"
            android:exported="false"
            android:label="@string/title_activity_color_scheme"
            android:theme="@style/Theme.MaterialCodeTool" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tools.AliIconActivity"
            android:exported="false" />
        <activity
            android:name=".activities.notes.WriteNoteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.reference.ReferenceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PermissionCheckActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.crash.MaterialCrashHandler$CrashActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialCodeTool" />
    </application>

</manifest>